<!-- don't need this. this can be deleted -->

<%= form_for @reply, url:replies_url(message_id: params["message_id"]) do |form| %>
	<div class="form-group">
		<%= form.label :Enter_Your_Reply %>
		<%= form.text_field :body, class: "form-control" %>
	</div>
	<%= form.button 'Reply', class: "btn btn-success" %>
<% end %>